
<section class="cs-content-section">
  
  <header class="cs-content-header">

      <h1>Typography System: Lato</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
<h1>Level 1 heading: Lato Semibold, 42</h1>

<h2>Level 2 heading: Lato Semibold, 36</h2>

<h3>Level 3 heading: Lato Semibold, 28</h3>

<h4>Level 4 heading: Lato Regular, 20</h4>

<h5>Level 5 heading: Lato Regular, 16</h5>

<h6>Level 6 heading: Lato Light, 16</h6>

<p>Body Text: Lato Light, 18</p>

<p>In 2014, our team started developing applications for Crystal, our proprietary personality detection technology, in the Harvard Innovation Lab. Crystal analyzes public data to tell you how you can expect any given person to behave and how he or she wants to be spoken to.</p>

<p>Links are <span class="dark-link">#b9fefe</span> on a dark background.</p>
<p>Links are <span class="light-link">#4bb0ce</span> on a light background.</p>

<ul>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

<ol>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ol>
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Iconography</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
   
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/crystal.png" alt="crystal icon">
      <p>Crystal</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/cancel.png" alt="cancel icon">
      <p>Cancel</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/downArrow.png" alt="down arrow">
      <p>Down Arrow</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/upArrow.png" alt="up arrow">
      <p>Up Arrow</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/leftArrow.png" alt="left arrow">
      <p>Left Arrow</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/rightArrow.png" alt="right arrow">
      <p>Right Arrow</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/emailing.png" alt="email icon">
      <p>Email</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/lock.png" alt="lock icon">
      <p>Lock</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/thumbUp.png" alt="thumbs up icon">
      <p>Thumbs Up</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/thumbDown.png" alt="thumbs down icon">
      <p>Thumbs Down</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/search.png" alt="search icon">
      <p>Search</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/selling.png" alt="selling icon">
      <p>Selling</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/settings.png" alt="settings icon">
      <p>Settings</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/speaking.png" alt="speaking icon">
      <p>Speaking</p>
    </div>
    <div class="icon-item"> 
      <img class="icon" src="project-name/images/icons/working.png" alt="working icon">
      <p>Working</p>
    </div>
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<!-- 
<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Tables</h1>
      <p>Use tables for laying out and displaying data.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  <!-- 
  <div class="cs-content">
    
  <table>
    <tr>
      <th scope="col">Table heading</th>
      <th scope="col">Table heading</th>
      <th scope="col">Table heading</th>
      <th scope="col">Table heading</th>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
  </table>
    
  </div><!--/.cs-content-->
  <!-- 
</section><!--/.cs-content-section-->