<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>User Modules</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  <div class="cs-content">
    
      <div class="grid">
        <div class="col-1-3">
          <div class="module">
            <div class="avatar-block"></div>
            <div class="user-info">
              <div class="user__name txt-align-center">
                <p><strong>Jamie Surdykowski</strong></p>
                <p>UX/UI Designer</p>
              </div>
              <div class="user__about">
                <p>Jamie is a very quick learner with strong, analytical, creative, and social skills, but may seem scatter-brained at times.</p>
              </div>
              <div class="user__link txt-align-right">
                <a href="!#">Read more about Jamie</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-3">
          <div class="module">
            <div class="avatar-block"></div>
            <div class="user-info">
              <div class="user__name txt-align-center">
                <p><strong>Dan Allard</strong></p>
                <p>Senior Strategist</p>
              </div>
              <div class="user__about">
                <p>Dan likes to get right to the point. He is direct and quick to make decisions based on facts.</p>
              </div>
              <div class="user__link txt-align-right">
                <a href="!#">Read more about Dan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-3">
          <div class="module">
            <div class="avatar-block"></div>
            <div class="user-info">
              <div class="user__name txt-align-center">
                <p><strong>Fresh Tilled Soil</strong></p>
                <p>Design Agency</p>
              </div>
              <div class="user__about">
                <p>Fresh Tilled Soil is a design agency based on web and mobile design.  It has a fun environment that fosters creativity.</p>
              </div>
              <div class="user__link txt-align-right">
                <a href="!#">Read more about Fresh Tilled Soil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Dashboard Content Module</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/speaking.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">When <span>speaking</span> to Jamie...</p>
            <p>Interrupt if the conversation is going too long.</p>
            <p>Use colorful descriptions</p>
            <p>Don’t bore her with things she’s already heard.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/emailing.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">When <span>emailing</span> with Jamie...</p>
            <p>Appeal to her feelings to drive her to action.</p>
            <p>Don’t user formal greetings and closings.</p>
            <p>Don’t get to the bottom line before introducing yourself.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/working.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">When <span>working</span> with Jamie...</p>
            <p>Surprise her to get her attention.</p>
            <p>Schedule meetings over food and drinks.</p>
            <p>Don’t expect a long time to earn her trust.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/selling.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">When <span>selling</span> to Jamie...</p>
            <p>Ask about past accomplishments.</p>
            <p>User visual aids to describe your products.</p>
            <p>Don’t seet an end time for calls or meetings.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/thumbUp.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">It <span>comes naturally</span> to Jamie to...</p>
            <p>Think out loud.</p>
            <p>Draw a picture to explain something.</p>
            <p>Lose track of time.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="txt-block">
      <div class="grid">
        <div class="col-1-8">
          <div class="module txt-align-center">
              <img class="icon" src="project-name/images/icons/thumbDown.png" alt="speaking icon">
          </div>
        </div>
        <div class="col-7-8">
          <div class="module">
            <p class="highlight-txt">It <span>does not comes naturally</span> to Jamie to...</p>
            <p>Get stressed with uncertainty.</p>
            <p>Finish one task before completing another.</p>
          </div>
        </div>
      </div>
    </div>


  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Sale Module</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

      <div class="grid">
        <div class="txt-align-center">
          <h1 class="highlight-txt-dark">MAXIMIZE THE POWER OF CRYSTAL</h1>
          <h3 class="highlight-txt">To unlock features like Crystal for Gmail, corrections as 
              you type, templates and relationships, upgrade to a
              premium account.</h3>
        </div>
      </div>
      <div class="grid">
        <div class="col-1-3">
          <div class="module">
            <div class="txt-align-center">
              <p><span class="uppercase highlight-txt">Apprentice</span></p>
              <div class="price-block">
                <p class="highlight-txt">$19 per month<p>
                <p class="highlight-txt">brief description of intended audience</p>
                <p>This is where the features of each pricing level live.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui sed consectetur pellentesque.</p>
                <p>Curabitur velit neque, molestie ullamcorper turpis nec, euismod vulputate lacus. Ali</p>
                <button class="btn uppercase" type="button">Select This Level</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-3">
          <div class="module">
            <div class="txt-align-center">
              <p><span class="uppercase highlight-txt">Master</span></p>
              <div class="price-block">
                <p class="highlight-txt">$49 per month</p>
                <p class="highlight-txt">brief description of intended audience</p>
                <p>This is where the features of each pricing level live.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui sed consectetur pellentesque.</p>
                <p>Curabitur velit neque, molestie ullamcorper turpis nec, euismod vulputate lacus. Ali</p>
                <button class="btn uppercase" type="button">Select This Level</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-3">
          <div class="module">
            <div class="txt-align-center">
              <p><span class="uppercase highlight-txt">Enterprise</span></p>
              <div class="price-block">
                <p class="highlight-txt">$99+ per month<p>
                <p class="highlight-txt">brief description of intended audience</p>
                <p>This is where the features of each pricing level live.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui sed consectetur pellentesque.</p>
                <p>Curabitur velit neque, molestie ullamcorper turpis nec, euismod vulputate lacus. Ali</p>
                <button class="btn uppercase" type="button">Select This Level</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Homepage Header</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

    <div class="grid">
      <div class="col-1-2">
        <img class="logo-icon" src="project-name/images/logo-dark.png" alt="crystal icon">
      </div>
      <div class="col-1-2">
        <div class="txt-align-right">
          <button type="button" class="btn content-btn d-inline-block">START FREE TRIAL</button>
          <p class="sign-in d-inline-block"><a href="!#">Sign In</a></p>
        </div>
      </div>
    </div>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Dashboard Header</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

    <header class="dashboard">
      <div class="grid">
        <div class="col-1-2">
          <img class="logo-icon" src="project-name/images/logo-dark.png" alt="crystal icon">
            <ul>
              <li>Profile</li>
              <li>Company</li>
              <li>Account</li>
              <li>Sign Out</li>
            </ul>
        </div>
        <div class="col-1-2">
          <div class="txt-align-right">
            <fieldset>
              <legend>Search Individuals or Relationships</legend>

              <div class="grid">
                <div class="col-1-2">
                  <div class="radio">

                    <input type="radio" id="individual" name="search-crystal" value="1">
                    <label for="individual" class="indie-label"><span></span>Individual</label>
                    
                    <input type="radio" id="relationship" name="search-crystal" value="2">
                    <label for="relationship"><span></span>Relationship</label>
                  </div>
                </div>
                <div class="col-1-2">

                  <label for="dashboard-search" class="is-hidden">Search for People</label>
                  <input type="text" id="dashboard-search" name="dashboard-search" placeholder="Type name(s) here">
                  <a href="#!">
                    <img class="search-icon" src="project-name/images/icons/search.png" alt="search icon">
                  </a>

               </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </header>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->

<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Homepage</h1>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">

    <header class="header">
          <img class="browserBar-img" src="project-name/images/browserBar.png" alt="browser bar">
      <div class="grid">
        <div class="col-1-2">
          <img class="logo-icon" src="project-name/images/logo-dark.png" alt="crystal icon">
        </div>
        <div class="col-1-2">
          <div class="txt-align-right">
            <button type="button" class="btn content-btn d-inline-block">START FREE TRIAL</button>
            <p class="sign-in d-inline-block"><a href="!#">Sign In</a></p>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="grid">
        <div class="txt-align-center">
          <h1 class="highlight-txt-dark">The biggest improvement to email since spell-check.</h1>
        </div>
      </div>
      <div class="grid">
        <div class="col-1-2">
          <img class="computer-img" src="project-name/images/computer.png" alt="laptop graphic">
        </div>
        <div class="col-1-2">
          <h2 class="highlight-txt">Crystal tells you the best way<br/>
            to communicate with any<br/> 
            prospect, customer, or<br/> 
            co-worker based on their 
            unique personality style.</h2>
            <div class="txt-align-center">
              <button type="button" class="btn">START FREE TRIAL</button>
            </div>
        </div>
      </div>
    </main>
    <article class="testimonial">
      <div class="grid">
        <div class="txt-align-right">
          <h2 class="highlight-txt-dark">Crystal creates unique personality profiles for every <br/>person with an online presence.</h2>
        </div>
      </div>
      <div class="grid">
        <div class="col-2-3">
          <div class="txt-align-right quote">
            <h3 class="highlight-txt">“If there was an award for the app<br/>
                that has the biggest positive<br/> 
                impact on my work, it would<br/> 
                go to Crystal.”
            </h3>
            <p>Richard Banfield, CEO of Fresh Tilled Soil</p>
          </div>
        </div>
        <div class="col-1-3">
          <img class="richard-img" src="project-name/images/richard.png" alt="laptop graphic">
        </div>
      </div>
    </article>
    <article class="visual">
      <div class="grid">
        <div class="txt-align-center">
          <h2 class="highlight-txt-dark">Different People Have Different Communication Styles.</h2>
          <h2 class="highlight-txt">Learn the words, phrases, style and tone for optmimum commuication.</h2>
        </div>
      </div>
      <div class="grid">
        <div class="col-1-3">
          <img class="gif-img" src="project-name/images/email-gif-1.png" alt="email graphic 1">
        </div>
        <div class="col-1-3">
          <p>When you write an email, 
            Crystal tells guides you to communication  to reach the 
            recipient in the way that they like to communicate.</p>
        </div>
        <div class="col-1-3">
          <img class="gif-img" src="project-name/images/email-gif-2.png" alt="email graphic 2">
        </div>
      </div>
    </article>
    <article class="communicate">
      <div class="txt-align-center">
          <h2 class="highlight-txt-dark">Crystal is a new technology built upon an ancient principle:</h2>
          <h3 class="highlight-txt">Communicate with empahty.</h3>
          <button type="button" class="btn">Sign Up to Try Crystal</button>
      </div> 
    </article>
    <footer class="footer">
      <div class="txt-align-center">
        <p>Footer</p>
      </div>
    </footer>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->