<section class="cs-content-section">
  
  <header class="cs-content-header">
    <div class="cs-content-heading">
      <h1>Layout Grid</h1>
      <p>Use the grid to layout your application and combine with other modules.</p>
    </div>
    
  </header><!--/.cs-content-header-->
  
  <div class="cs-content">
    
<div class="row">
  <div class="col lg-100">.col.lg-100</div>
  <div class="col lg-50 sm-100">.col.lg-50.sm-100</div>
  <div class="col lg-50 sm-100">.col.lg-50.sm-100</div>
</div>

<div class="row">
  <div class="col lg-33">.col.lg-33</div>
  <div class="col lg-33">.col.lg-33</div>
  <div class="col lg-33">.col.lg-33</div>
</div>

<div class="row">
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-50 sm-100">.col.lg-50.sm-100</div>
</div>

<div class="row">
  <div class="col lg-50 sm-100">.col.lg-50.sm-100</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
</div>

<div class="row">
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-50 sm-100">.col.lg-50.sm-100</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
</div>

<div class="row">
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
  <div class="col lg-25 sm-50">.col.lg-25.sm-50</div>
</div>

  </div><!--/.cs-content-->
</section><!--/.cs-content-section-->