
/*-----------------*/
* {
  font-family: "Lato", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------------*/
h1 {
  font-family: "Lato", sans-serif;
  font-size: 2.625em; /* 42 px / 16 px = 2.625em */
  font-weight: 700;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 2.25em; /* 36 px / 16 px = 2.25em */
  font-weight: 700;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.75em; /* 28 px / 16 px = 1.75em */
  font-weight: 700;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.25em; /* 20 px / 16 px = 1.25em */
  font-weight: 400;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 1em; /* 16 px / 16 px = 1em */
  font-weight: 400;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 1em; /* 16 px / 16 px = 1em */
  font-weight: 300;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.125em; /* 18 px / 16 px = 1.125em */
  font-weight: 300;
}

.dark-link {
  color: #b9fefe;
}

.light-link {
  color: #4bb0ce;
}

ul {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

ol {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #278496;
  font-weight: 300;
}
/*-----------------*/


.grid {
  margin: 0 0 20px 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.col-7-8 {
  width: 87.5%;
}

@media screen and (max-width: 700px) { 
  .grid > [class^="col-"] {
    width: 100%;
    padding-right: 0;
  }

}

.grid-module {
  background: #eee;
  padding: 20px;
}

.module {
  background: #FFF;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

.txt-align-center {
  text-align: center;
}

.txt-align-right {
  text-align: right; 
}

.txt-align-left {
  text-align: left; 
}

.d-inline-block {
  display: inline-block;
}

.highlight-txt {
  color: #278496; 
}

.highlight-txt-dark {
  color: #0D346B; 
}

span {
  font-weight: bold;
}

.txt-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #278496;
}

.uppercase {
  text-transform: uppercase;
}

.dark-link {
  background-color: #0D346B; 
  padding: 10px 20px;
}

.dark-bg {
  background-color: #339999; 
  width: 40%;
  color: white;
  padding: 30px;
  margin-top: 20px;
}

/*-----------------*/

.avatar-block {
  background: #BAC5C6;
  height: 250px;
  border-bottom: 5px solid #278496;
  margin-bottom: 30px; 
}

.user-info {
  border-bottom: 5px solid #278496;
}
.user__name {
  margin-bottom: 30px; 
  color: #278496  ;
}

.user__about {
  margin-bottom: 50px; 
}

.user__link {
  padding: 10px 0px;
  border-top: 1px solid #278496;
  border-bottom: 1px solid #278496;
  margin-bottom: 20px;
}

/*-----------------*/

.price-block {
  background-color: #E4F8F8;
  border-top: 2px solid #278496;
  height: auto;
  min-height: 450px;
}

.price-block button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.price-block p {
  padding: 0px 10px;
}

/*-----------------*/
.icon-item {
  display: inline-block;
  height: auto;
  text-align: center; 
  width: 120px;
  white-space: nowrap;
}

.icon {
  max-width: 50px;
  height: auto;
}

/*-----------------*/
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

/*-----------------*/
.btn,
button,
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.btn {
  border: 1px solid #fd716b;
  border-radius: 2px;
  background-color: white;
  color: #fd716b;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 95px 20px 95px;
}

.content-btn {
  border: 1px solid #fd716b;
  border-radius: 2px;
  background-color: white;
  color: #fd716b;
  text-transform: uppercase;
  padding: 20px 20px 20px 20px;
}

.btn:hover {
  border: 1px solid #fe9590;
  background-color: #fe9590;
  color: white;
}

.btn:active {
  border: 1px solid #fd716b;
  background-color: #fd716b;
  color: white;
}
.btn:disabled {
  border: 1px solid #fd716b;
  border-radius: 2px;
  background-color: white;
  color: #fd716b;
}
.btn:focus {
  outline: thin dotted;
}
.btn-hover {
  border: 1px solid #fe9590;
  border-radius: 2px;
  background-color: #fe9590;
  color: white;
}
.btn-active {
  border: 1px solid #fd716b;
  border-radius: 2px;
  background-color: #fd716b;
  color: white;
}
.btn[disabled] {
  border: 1px solid #bac5c6;
  border-radius: 2px;
  background-color: #eceeee;
  color: #bac5c6;
  cursor: default;
}


.dark-bg .btn {
  border: 1px solid rgb(146,226,230);
  border-radius: 2px;
  background-color: transparent;
  color: rgb(146,226,230);
  text-transform: uppercase;
  padding: 20px 95px 20px 95px;
}


.dark-bg .btn:hover {
  background-color: rgb(146,226,230);
  color: white;
}

.dark-bg .btn:active {
  border: 1px solid #66cccc;
  background-color: #66cccc;
  color: white;
}

.dark-bg .btn[disabled] {
  border: 1px solid #bac5c6;
  border-radius: 2px;
  background-color: #eceeee;
  color: #bac5c6;
  cursor: default;
}

/*-----------------*/
label {
  display: block;
  cursor: pointer;
}

legend {
  
}

fieldset {
  border: none; 
}

.form-group {
  margin-bottom: 20px;
}

.checkbox-group label,
.radio-group label {
  display: inline-block;
}
.text-field-label {

}
.text-field-input {

}
input[type=text] {
  border: 1px solid #278496;
  border-radius: 2;
  padding-left: 5px;
  -webkit-appearance: none;
}

textarea {
  border: 1px solid #278496;
  border-radius: 2px;
  -webkit-box-shadow: inset -0.5px 0.5px 1px 1px rgba(230,230,230,1);
  -counter-resetmoz-box-shadow: inset -0.5px 0.5px 1px 1px rgba(230,230,230,1);
  box-shadow: inset -0.5px 0.5px 1px 1px rgba(230,230,230,1);
}

input[type="checkbox"], 
input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url('../images/crystal-sprite.png') no-repeat -19px -208px;
    width: 22px;
    height: 22px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('../images/crystal-sprite.png') no-repeat -19px -341px;
}
input[type="checkbox"]:focus + label span {
    background:url('../images/crystal-sprite.png') no-repeat -13px -297px;
}
input[type="checkbox"]:invalid + label span {
    background:url('../images/crystal-sprite.png') no-repeat -19px -246px;
}
input[type="checkbox"]:disabled + label span {
    background:url('../images/crystal-sprite.png') no-repeat -19px -381px;
}

input[type="radio"] + label span {
    display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url('../images/crystal-sprite.png') no-repeat -289px -206px;
    width: 22px;
    height: 22px;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url('../images/crystal-sprite.png') no-repeat -289px -341px;
}
input[type="radio"]:focus + label span {
    background:url('../images/crystal-sprite.png') no-repeat -283px -295px;
}
input[type="radio"]:invalid + label span {
    background:url('../images/crystal-sprite.png') no-repeat -289px -237px;
}
input[type="radio"]:disabled + label span {
    background:url('../images/crystal-sprite.png') no-repeat -289px -383px;
}

.select-style select {
  border: 1px solid #278496;
  width: 288px;
  height: 45px;
  border-radius: 2px;
  overflow: hidden;
  font-size: 1em;
  background: url('../images/icons/downArrow.png') no-repeat right white;
  padding: 5px;
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
}

input[type=text] {
  border: 1px solid #278496;
  width: 288px;
  height: 45px;
  border-radius: 2px;
  font-size: 1em;
  padding-left: 5px;
  -webkit-appearance: none;
}

input[disabled] {
  border: 1px solid #BAC5C6;
}

input:invalid {
  border: 1px solid #FD716B;
}

select[disabled] {
  background: url('../images/icons/downArrow-disabled.png') no-repeat right white;
  border: 1px solid #BAC5C6;
}

input {
  display: inline-block;
}

.header {
  margin-bottom: 50px;
  margin-top: 10px;
}

.main {
  padding-top: 20px;
  border-bottom: 10px solid #278496;
  margin-bottom: 100px;
}

.logo-icon {
  width: 50%;
  height: auto;
}

.computer-img,
.richard-img {
  width: 110%;
  height: auto;
}

.browserBar-img {
  width: 105%;
  margin-left: -2.5%;
}

.gif-img {
  width: 100%;
  height: auto; 
}

.sign-in {
  margin-left: 50px;
  vertical-align: middle;
}

.testimonial,
.visual {
  border-bottom: 10px solid #278496;
  margin-bottom: 100px;
}

.testimonial .grid {
  margin-bottom: -6px;
}

.quote {
  padding-top: 100px;
}

.communicate {
  margin-bottom: 100px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #278496; 
}

.footer p {
  padding-top: 40px;
}

.dashboard li {
  padding-right: 10px;
  color: #0D346B; 
  display: inline-block;
  text-decoration: none;
}

.dashboard fieldset {
  margin-top: 20px;
}

.dashboard legend {
  margin-left: 136px;
  color: #FD716B;
}

 .indie-label {
  padding-right: 18px;
  margin-bottom: 5px;
}

.is-hidden {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

#dashboard-search {
  width: 70%;
}

.search-icon {
  vertical-align: middle;
}