/* page banner */
.cs-banner {
	background: #414141;
}

.cs-fts-nav a {
	color: white;
}

.cs-fts-nav a:hover { 
	color: #F3F3F1;
}

.cs-fts-nav li.is-active a {
	color: #FD716B;
}

/* page footer */
.cs-footer {
  
}

/* section headers */
.cs-content-header {
  
}

/* buttons */
.cs-button {
  
}

.cs-button:hover {
  
}

.cs-button:focus {
  
}

.cs-button:active {
  
}