/* page banner */
.cs-banner {
	background: transparent;
}

.cs-fts-nav a {
	color: #0D346B;
	font-weight: bold;
}

.cs-fts-nav a:hover { 
	color: #278496;
}

.cs-fts-nav li.is-active a {
	color: #FD716B;
}

.cs-fts-nav.is-open {
	background: #F3F3F1;
	border-right: 1px solid #293352;
	border-bottom: 1px solid #293352;
}
/* page footer */
.cs-footer {
  
}

/* section headers */
.cs-content-header {
  
}

/* buttons */
.cs-button {
  
}

.cs-button:hover {
  
}

.cs-button:focus {
  
}

.cs-button:active {
  
}